.menu{
    position: absolute;
    display: flex;
    list-style: none;
    top: 88%;
    right: 25%;
    gap: 20px;
    padding: 0;
}
.item{
    width: 40px;
    border-radius: 20px;
    content-visibility: hidden;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.item:hover{
    scale: 1.1;
    background-color: #D9D9D9;
}
.active{
    background-color: #D9D9D9;
    padding: 5px 10px;
    width: inherit;
    content-visibility: visible;
}
.menu a{
    text-decoration: none;
    color: #F20707;
}


@media (max-width: 768px) {
    .menu{
        display: flex;
        justify-content: center;
        top: 71.5%;
        left: 22%;
        gap: 5px;
    }
    .item{
        width: 50px;
    }
    .active{
        padding: 5px 5px;
        content-visibility: hidden;
    }
}