.title{
    padding-left: 20px;
    height: 60px;
    width: 90%;
    display: flex;
}

.title h4{
    margin: auto 0;
    font-size: 35px;
    color: #f20707;
}


@media (max-width: 768px) {
    .title{
        padding-left: 10px;
    }
    .title h4{
        font-size: 25px;
    }

}