html,
body {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
  overflow-y: hidden;
  overflow-x: hidden;
}

h2 {
  color: #ea862a;
}
p {
  color: #fff;
  font-weight: 300;
}

.container-text {
  animation: intro 1.5s;
  cursor: grab;
  position: absolute;
  width: 800px;
  height: 600px;
  border-radius: 20px;
  color: #fff;
  background-color: black;
  overflow-y: auto;
  overflow-x: hidden;
}

.exitAnimationLeft {
  animation: moveLeft 1s;
  rotate: 360deg;
  content-visibility: hidden;
  overflow: hidden !important;
  scale: 0.2;
  border-radius: 50%;
  width: 600px;
  left: -600px;
  opacity: 0;
}


.font-20{
  font-size: 20px !important;
}
.font-10{
  font-size: 10px !important;
}




@keyframes moveLeft {
  0% {
    opacity: 1;
    scale: 1;
    border-radius: 20px;
    left: 300px;
    overflow-y: hidden;
  }
  15% {
    opacity: 1;
    scale: 0.2;
    border-radius: 50%;
    left: 300px;
    overflow-y: hidden;
  }
  100% {
    opacity: 1;
    left: -600px;
    overflow-y: visible;
  }
}
.exitAnimationRight {
  animation: moveRight 1s;
  rotate: 360deg;
  content-visibility: hidden;
  overflow: hidden !important;
  scale: 0.2;
  border-radius: 50%;
  width: 600px;
  left: 1200px;
  opacity: 0;
}
@keyframes moveRight {
  0% {
    opacity: 1;
    scale: 1;
    border-radius: 20px;
    left: 600px;
  }
  15% {
    opacity: 1;
    scale: 0.2;
    border-radius: 50%;
    left: 600px;
  }
  100% {
    opacity: 1;
    left: 1200px;
  }
}

@keyframes intro {
  0% {
    content-visibility: hidden;
    overflow-y: hidden;
    scale: 0.2;
    border-radius: 50%;
    width: 600px;
    top: 1000px;
  }
  30% {
    content-visibility: hidden;
    overflow-y: hidden;
    scale: 0.2;
    border-radius: 50%;
    width: 600px;
    top: 10%;
  }
  70% {
    content-visibility: hidden;
    overflow-y: hidden;
    scale: 1;
    border-radius: 20px;
    width: 800px;
  }
  100% {
    content-visibility: visible;
    overflow-y: visible;
  }
}



.container-mobile{
  display: none;
}

@media (max-width: 768px) {
  .container-text{
    display: none;
  }
  .container-mobile{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-bottom: 50px;
    width: 300px;
    height: 400px;
    background-color: black;
    border-radius: 20px;
  }
  h2{
    margin: 5px 0;
  }

}