.about{
    width: 100%;
    height: 100vh;
    background: url(../assets/Slide0.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow-y: hidden;
}


.about .InfoContainer{
    margin: auto;
    width: 90%;
}
.about .InfoContainer span{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.about .InfoContainer p{
    margin: 0;
    display: flex;
    align-items: center;
}
.invert{
    height: 220px !important;
    display: inherit !important;
}


@media (max-width: 768px) {
    .about .InfoContainer{
        display: none;
    }
    .about{
        background: url(../assets/Mobile1.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;

    }
}